<div class="main-panel">
    <app-navbar></app-navbar>
    
    <div class="content">
    <!-- uiView:  -->
    <div ui-view="" class="ng-scope">
    <section class="req_sec">
    <div class="row">
    <div class="col-md-6">
    <div class="card">
    <div class="card-content">
    <div class="table-responsive">
    <div class="material-datatables">
    <table datatable="ng" class="table table-bordered table-striped table_datatable" id="customerTable">
    <thead>
    <tr>
    <th>Date & Time</th>
    <th>Location</th>
    <th>Phone No.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>7/6/20 - 7:43pm</td>
    <td>Shop no. 423, Asten Streets, Jeddah Saudi Arabia -110011</td>
    <td>1234-123-123</td>
    </tr>
    
    <tr>
    <td>7/6/20 - 7:43pm</td>
    <td>Shop no. 23, C Block Jeddah Saudi Arabia</td>
    <td>(96)1234-123-123</td>
    </tr>
    
    <tr>
    <td>7/6/20 - 7:43pm</td>
    <td>Shop no. 423, Asten Streets, Jeddah Saudi Arabia -110011</td>
    <td>1234-123-123</td>
    </tr>
    
    <tr>
    <td>7/6/20 - 7:43pm</td>
    <td>Shop no. 23, C Block Jeddah Saudi Arabia</td>
    <td>(96)1234-123-123</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="col-md-6">
    <div class="card">
    <div class="card-content">
    <ul>
        <li class="live_up" style="padding-left: 10px;">
            Live Update &nbsp;&nbsp; 
            <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
            </label>
            </li>
    <li class="refresh_btn">
    <i class="fa fa-refresh"></i>
    </li>
    </ul>
    </div>
    
    <div class="card-content">
    <div id="map"></div>
    </div>
    </div>
    </div>
    </div>
    
    </section>